# Ignore the actual .env file containing sensitive information
.env

# Ignore the traefik.yml file becaues it causes an error every time
config/traefik.yml

# Ignore any log files (optional, if you use logs)
*.log

# Ignore any temporary or backup files
*.bak
*.tmp
*.swp

# Ignore Docker-related files
docker-compose.override.yml
.docker

# Ignore node_modules and package lock files (if you use Node.js for some reason)
node_modules/
npm-debug.log
yarn-error.log

# Ignore system-specific files
.DS_Store
Thumbs.db
